{% extends 'base.html' %}

{% block body %}
<div id="landing" style="display: block;">
    <input type="text" id="connect_to" placeholder="Enter username">
    <button id="connect">Connect</button>
</div>

<div id="chatbox" class="chatbox" style="display: none">
    <ul id="chat-messages"></ul>
</div>
<div id="sendbox" style="display: none;">
    <input type="text" id="message" placeholder="Type a message">
    <button id="send">Send</button>
</div>










<!-- js scripts should only be imported in the body section after all the HTML -->
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}