{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="sidebar">
        <h2>Chat List</h2>
        <ul id="userList">
            <!-- User list will be populated dynamically using JavaScript -->
        </ul>
    </div>
    <div class="chat">
        <div class="chat-header">
            <h2 id="chatUserName">E2EE web Chat</h2>
        </div>
        <div class="chat-messages" id="chatMessages">
            <!-- Chat messages will be populated dynamically using JavaScript -->
        </div>
        <div class="chat-input">
            <input type="text" id="messageInput" placeholder="Type your message...">
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>
</div>



<!-- js scripts should only be imported in the body section after all the HTML -->
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}